* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header {
  background-color: #4a4a4a; }
  .header .header__superior {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px; }
  .header .titulos .titulo_principal h1 {
    text-transform: capitalize;
    color: #faf1fa; }
  .header .titulos .subtitulo h2 {
    text-transform: capitalize;
    color: #faf1fa; }

.header_inferior {
  background-color: #3fc2cb;
  width: 100%;
  margin: 0;
  padding: 5px 0; }
  .header_inferior #toggle {
    display: none;
    cursor: pointer; }
  .header_inferior label {
    display: none;
    cursor: pointer; }
  .header_inferior .menu {
    padding: 0px 20px; }
    .header_inferior .menu ul {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      height: 100%; }
      .header_inferior .menu ul li {
        padding-left: 5px;
        height: 100%;
        list-style: none; }
        .header_inferior .menu ul li a {
          width: 100%;
          height: 100%;
          background-color: #3fc2cb;
          font-size: large;
          font-weight: 900;
          text-decoration: none;
          color: #faf1fa;
          text-transform: uppercase;
          transition: all 300ms ease; }
          .header_inferior .menu ul li a:hover {
            box-shadow: 0 0 10px 0 #faf1fa inset, 0 0 10px 4px #faf1fa; }
        .header_inferior .menu ul li img {
          padding-left: 10px; }
      .header_inferior .menu ul #ind {
        color: rgba(80, 78, 78, 0.8); }
      .header_inferior .menu ul #sn {
        color: rgba(80, 78, 78, 0.8); }
      .header_inferior .menu ul #ct {
        color: rgba(80, 78, 78, 0.8); }

.main {
  margin-bottom: 0;
  background-image: url(../assets/images/laboratorio-dental2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }
  .main .espacio {
    height: 100vh; }
  .main .frase {
    height: 20vh;
    background-color: #4a4a4a;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 900;
    text-decoration: none;
    text-align: center;
    color: #3fc2cb;
    font-size: x-large; }
  .main .contenedor {
    max-width: 1600px;
    min-width: 320px;
    margin: auto;
    display: flex;
    flex-direction: row; }
    .main .contenedor .c_img {
      margin: 0 15px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      cursor: pointer; }
      .main .contenedor .c_img img {
        width: 100%; }
    .main .contenedor .c_txt {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      text-align: center;
      position: absolute;
      transition: all .3s;
      transform: scale(1.5);
      opacity: 0; }
      .main .contenedor .c_txt:hover {
        transform: scale(1);
        opacity: 1;
        background: rgba(80, 78, 78, 0.8); }
      .main .contenedor .c_txt h3 {
        color: #faf1fa;
        font-size: large;
        text-transform: uppercase; }
      .main .contenedor .c_txt ul {
        list-style: none;
        color: #3fc2cb;
        padding: 10px;
        font-size: large;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 2rem; }
      .main .contenedor .c_txt p {
        color: #3fc2cb;
        padding: 10px;
        font-size: large;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 2rem; }

.footer {
  background-color: #4a4a4a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 25vh;
  color: #faf1fa;
  font-weight: 900;
  padding: 20px 20px 0 20px; }
  .footer .redsocial a {
    padding-left: 5px; }
  .footer .footer_botones {
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px 0;
    list-style-image: url(../assets/images/asterisco.png); }
    .footer .footer_botones li a {
      color: #faf1fa;
      text-transform: uppercase;
      text-decoration: none; }
      .footer .footer_botones li a:hover {
        color: rgba(233, 217, 217, 0.774); }
    .footer .footer_botones li #ind {
      color: #3fc2cb; }
    .footer .footer_botones li #tp {
      color: #3fc2cb; }
    .footer .footer_botones li #sn {
      color: #3fc2cb; }
    .footer .footer_botones li #ct {
      color: #3fc2cb; }

@media screen and (max-width: 1900px) {
  .main .espacio
.contenedor {
    height: 100%; }
  .footer {
    height: 25vh; } }

@media screen and (max-width: 1200px) {
  .main .espacio {
    width: 100%; }
  .main .contenedor {
    height: 100%; }
  .footer {
    height: 20vh; } }

@media screen and (max-width: 1024px) {
  .main .frase {
    height: 15vh; }
  .main .contenedor {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; }
    .main .contenedor .c_img {
      margin: 0 5px; }
      .main .contenedor .c_img .c_txt h3 {
        font-size: small; }
      .main .contenedor .c_img .c_txt ul {
        font-size: small; }
      .main .contenedor .c_img .c_txt p {
        font-size: small; }
  .footer {
    height: 25vh; } }

@media screen and (max-width: 768px) {
  .header .header_inferior label {
    display: initial;
    padding-left: 20px; }
  .header .header_inferior .menu {
    top: 100%;
    left: 0;
    right: 0;
    display: none;
    padding: 0;
    margin-top: 0;
    background-color: #3fc2cb; }
    .header .header_inferior .menu ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      line-height: 2rem;
      background-color: transparent; }
      .header .header_inferior .menu ul li {
        width: 100%;
        margin: 0; }
  .header #toggle:checked ~ .menu {
    display: block; }
  .main .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .main .c_img {
    margin: 0 50px; }
  .footer {
    height: 25vh; }
    .footer .redsocial img {
      width: 2em; } }

@media screen and (max-width: 650px) {
  .main .contenedor {
    height: 100%; }
  .footer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .footer .footer_datos {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .footer .redsocial {
      padding: 10px; }
      .footer .redsocial img {
        width: 2em;
        padding: 2px; }
    .footer .footer_botones {
      display: none; }
    .footer .cv_icono img {
      width: 2em; } }

@media screen and (max-width: 480px) {
  header .header__superior .logo {
    display: none; }
  header .contenedor {
    height: 100%; }
    header .contenedor .c_img {
      width: 100%;
      margin: 0 10px; }
  .footer {
    display: flex;
    flex-direction: column; }
    .footer .redsocial img {
      width: 2em;
      padding: 2px; }
    .footer .cv_icono img {
      width: 2em; } }

@media screen and (max-width: 320px) {
  .body {
    width: max-content; }
  .main .contenedor .c_img {
    width: fit-content; }
  .footer {
    display: flex;
    flex-direction: column; }
    .footer .redsocial img {
      width: 2em;
      padding: 2px; }
    .footer .cv_icono img {
      width: 2em; } }

.header .header_inferior .menu ul li #tp {
  color: rgba(80, 78, 78, 0.8); }

.main_tp h1 {
  padding: 50px 0 50px 0;
  text-align: center; }

.main_tp .linea {
  border-top: 5px solid #3fc2cb;
  height: 2px;
  max-width: 200px;
  padding: 0;
  margin: 10px auto 20px auto; }

.main_tp p {
  text-align: center;
  font-size: x-large;
  font-weight: 800;
  padding-bottom: 50px; }

.main_tp .imagen_protesis {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .main_tp .imagen_protesis #slider1 {
    display: flex;
    flex-direction: row; }
    .main_tp .imagen_protesis #slider1 #cromo {
      width: 50%;
      height: auto; }
    .main_tp .imagen_protesis #slider1 .txt_hidden {
      width: 50%;
      flex-wrap: wrap;
      background-color: #b6b6b4; }
      .main_tp .imagen_protesis #slider1 .txt_hidden h2 {
        padding-top: 50px;
        margin-left: 50px;
        text-transform: uppercase;
        text-align: left; }
      .main_tp .imagen_protesis #slider1 .txt_hidden p {
        margin: 10px 0;
        line-height: 3rem;
        font-size: medium;
        font-weight: 900;
        text-transform: uppercase;
        text-align: left;
        padding: 50px; }
      .main_tp .imagen_protesis #slider1 .txt_hidden img {
        margin: 50px 0 0 50px; }
  .main_tp .imagen_protesis #slider2 {
    display: flex;
    flex-direction: row-reverse; }
    .main_tp .imagen_protesis #slider2 #flexible {
      width: 50%; }
    .main_tp .imagen_protesis #slider2 .txt_hidden {
      width: 50%;
      flex-wrap: wrap;
      background-color: #fdbdff; }
      .main_tp .imagen_protesis #slider2 .txt_hidden h2 {
        padding-top: 50px;
        margin-left: 50px;
        text-transform: uppercase;
        text-align: left; }
      .main_tp .imagen_protesis #slider2 .txt_hidden p {
        margin: 10px 0;
        line-height: 3rem;
        font-size: medium;
        font-weight: 900;
        text-transform: uppercase;
        text-align: left;
        padding: 50px; }
      .main_tp .imagen_protesis #slider2 .txt_hidden img {
        margin: 50px 0 0 50px; }
  .main_tp .imagen_protesis #slider3 {
    display: flex;
    flex-direction: row; }
    .main_tp .imagen_protesis #slider3 #acrilico {
      width: 50%; }
    .main_tp .imagen_protesis #slider3 .txt_hidden {
      width: 50%;
      flex-wrap: wrap;
      background-color: #9bf8c2; }
      .main_tp .imagen_protesis #slider3 .txt_hidden h2 {
        padding-top: 50px;
        margin-left: 50px;
        text-transform: uppercase;
        text-align: left; }
      .main_tp .imagen_protesis #slider3 .txt_hidden p {
        margin: 10px 0;
        line-height: 3rem;
        font-size: medium;
        font-weight: 900;
        text-transform: uppercase;
        text-align: left;
        padding: 50px; }
      .main_tp .imagen_protesis #slider3 .txt_hidden img {
        margin: 50px 0 0 50px; }
  .main_tp .imagen_protesis #slider4 {
    display: flex;
    flex-direction: row-reverse; }
    .main_tp .imagen_protesis #slider4 #fija {
      width: 50%; }
    .main_tp .imagen_protesis #slider4 .txt_hidden {
      width: 50%;
      flex-wrap: wrap;
      align-items: left;
      background-color: #e7ffc8; }
      .main_tp .imagen_protesis #slider4 .txt_hidden h2 {
        padding-top: 50px;
        margin-left: 50px;
        text-transform: uppercase;
        text-align: left; }
      .main_tp .imagen_protesis #slider4 .txt_hidden img {
        margin: 50px 0 0 50px; }
      .main_tp .imagen_protesis #slider4 .txt_hidden p {
        margin: 10px 0;
        line-height: 3rem;
        font-size: medium;
        font-weight: 900;
        text-transform: uppercase;
        text-align: left;
        padding: 50px; }

@media screen and (max-width: 1200px) {
  .main_tp .imagen_protesis #slider1 {
    width: 100%; }
    .main_tp .imagen_protesis #slider1 #cromo {
      height: auto; }
    .main_tp .imagen_protesis #slider1 .txt_hidden h2 {
      padding-top: 30px; }
    .main_tp .imagen_protesis #slider1 .txt_hidden p {
      line-height: 2rem;
      padding-top: 30px; } }

@media screen and (max-width: 1024px) {
  .main_tp .imagen_protesis {
    display: flex;
    flex-direction: column; }
    .main_tp .imagen_protesis #slider1 .txt_hidden h2 {
      padding-top: 10px; }
    .main_tp .imagen_protesis #slider1 .txt_hidden p {
      padding-top: 10px;
      line-height: 1.5rem;
      font-size: small; }
    .main_tp .imagen_protesis #slider1 .txt_hidden img {
      margin-top: 30px; }
    .main_tp .imagen_protesis #slider2 .txt_hidden h2 {
      padding-top: 10px; }
    .main_tp .imagen_protesis #slider2 .txt_hidden p {
      padding-top: 10px;
      line-height: 1.5rem;
      font-size: small; }
    .main_tp .imagen_protesis #slider2 .txt_hidden img {
      margin-top: 30px; }
    .main_tp .imagen_protesis #slider3 .txt_hidden h2 {
      padding-top: 10px; }
    .main_tp .imagen_protesis #slider3 .txt_hidden p {
      padding-top: 10px;
      line-height: 1.5rem;
      font-size: small; }
    .main_tp .imagen_protesis #slider3 .txt_hidden img {
      margin-top: 30px; }
    .main_tp .imagen_protesis #slider4 .txt_hidden h2 {
      padding-top: 10px; }
    .main_tp .imagen_protesis #slider4 .txt_hidden p {
      padding-top: 10px;
      line-height: 1.5rem;
      font-size: small; }
    .main_tp .imagen_protesis #slider4 .txt_hidden img {
      margin-top: 30px; } }

@media screen and (max-width: 768px) {
  .main_tp .imagen_protesis #slider1 .txt_hidden h2 {
    font-size: large; }
  .main_tp .imagen_protesis #slider1 .txt_hidden p {
    margin-top: 0;
    padding-top: 5px;
    font-size: x-small; }
  .main_tp .imagen_protesis #slider1 .txt_hidden img {
    margin-top: 15px; }
  .main_tp .imagen_protesis #slider2 .txt_hidden h2 {
    font-size: large; }
  .main_tp .imagen_protesis #slider2 .txt_hidden p {
    margin-top: 0;
    padding-top: 5px;
    font-size: x-small; }
  .main_tp .imagen_protesis #slider2 .txt_hidden img {
    margin-top: 15px; }
  .main_tp .imagen_protesis #slider3 .txt_hidden h2 {
    font-size: large; }
  .main_tp .imagen_protesis #slider3 .txt_hidden p {
    margin-top: 0;
    padding-top: 5px;
    font-size: x-small; }
  .main_tp .imagen_protesis #slider3 .txt_hidden img {
    margin-top: 15px; }
  .main_tp .imagen_protesis #slider4 .txt_hidden h2 {
    font-size: large; }
  .main_tp .imagen_protesis #slider4 .txt_hidden p {
    margin-top: 0;
    padding-top: 5px;
    font-size: x-small; }
  .main_tp .imagen_protesis #slider4 .txt_hidden img {
    margin-top: 15px; } }

@media screen and (max-width: 600px) {
  .main_tp .imagen_protesis #slider1 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main_tp .imagen_protesis #slider1 #cromo {
      width: 100%; }
    .main_tp .imagen_protesis #slider1 .txt_hidden {
      width: 100%; }
      .main_tp .imagen_protesis #slider1 .txt_hidden h2 {
        font-size: x-large;
        padding-top: 30px; }
      .main_tp .imagen_protesis #slider1 .txt_hidden p {
        font-size: large;
        padding: 30px; }
  .main_tp .imagen_protesis #slider2 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main_tp .imagen_protesis #slider2 #flexible {
      width: 100%; }
    .main_tp .imagen_protesis #slider2 .txt_hidden {
      width: 100%; }
      .main_tp .imagen_protesis #slider2 .txt_hidden h2 {
        font-size: x-large;
        padding-top: 30px; }
      .main_tp .imagen_protesis #slider2 .txt_hidden p {
        font-size: large;
        padding: 30px; }
  .main_tp .imagen_protesis #slider3 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main_tp .imagen_protesis #slider3 #acrilico {
      width: 100%; }
    .main_tp .imagen_protesis #slider3 .txt_hidden {
      width: 100%; }
      .main_tp .imagen_protesis #slider3 .txt_hidden h2 {
        font-size: x-large;
        padding-top: 30px; }
      .main_tp .imagen_protesis #slider3 .txt_hidden p {
        font-size: large;
        padding: 30px; }
  .main_tp .imagen_protesis #slider4 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main_tp .imagen_protesis #slider4 #fija {
      width: 100%; }
    .main_tp .imagen_protesis #slider4 .txt_hidden {
      width: 100%; }
      .main_tp .imagen_protesis #slider4 .txt_hidden h2 {
        font-size: x-large;
        padding-top: 30px; }
      .main_tp .imagen_protesis #slider4 .txt_hidden p {
        font-size: large;
        padding: 30px; }
  .footer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .footer .footer_datos {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .footer .redsocial {
      padding: 10px; }
      .footer .redsocial img {
        width: 2em;
        padding: 2px; }
    .footer .footer_botones {
      display: none; }
    .footer .cv_icono img {
      width: 2em; } }

@media screen and (max-width: 480px) {
  .main_tp .imagen_protesis #slider1 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main_tp .imagen_protesis #slider1 #cromo {
      width: 100%; }
    .main_tp .imagen_protesis #slider1 .txt_hidden {
      width: 100%; }
      .main_tp .imagen_protesis #slider1 .txt_hidden h2 {
        font-size: large;
        padding-top: 10px; }
      .main_tp .imagen_protesis #slider1 .txt_hidden p {
        font-size: medium;
        padding: 10px; }
  .main_tp .imagen_protesis #slider2 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main_tp .imagen_protesis #slider2 #flexible {
      width: 100%; }
    .main_tp .imagen_protesis #slider2 .txt_hidden {
      width: 100%; }
      .main_tp .imagen_protesis #slider2 .txt_hidden h2 {
        font-size: large;
        padding-top: 10px; }
      .main_tp .imagen_protesis #slider2 .txt_hidden p {
        font-size: medium;
        padding: 10px; }
  .main_tp .imagen_protesis #slider3 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main_tp .imagen_protesis #slider3 #acrilico {
      width: 100%; }
    .main_tp .imagen_protesis #slider3 .txt_hidden {
      width: 100%; }
      .main_tp .imagen_protesis #slider3 .txt_hidden h2 {
        font-size: large;
        padding-top: 10px; }
      .main_tp .imagen_protesis #slider3 .txt_hidden p {
        font-size: medium;
        padding: 10px; }
  .main_tp .imagen_protesis #slider4 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main_tp .imagen_protesis #slider4 #fija {
      width: 100%; }
    .main_tp .imagen_protesis #slider4 .txt_hidden {
      width: 100%; }
      .main_tp .imagen_protesis #slider4 .txt_hidden h2 {
        font-size: large;
        padding-top: 10px; }
      .main_tp .imagen_protesis #slider4 .txt_hidden p {
        font-size: medium;
        padding: 10px; } }

@media screen and (max-width: 320px) {
  .main_tp .imagen_protesis #slider1 #cromo {
    width: 100%; }
  .main_tp .imagen_protesis #slider1 .txt_hidden {
    width: 100%; }
  .main_tp .imagen_protesis #slider2 #flexible {
    width: 100%; }
  .main_tp .imagen_protesis #slider2 .txt_hidden {
    width: 100%; }
  .main_tp .imagen_protesis #slider3 #acrilico {
    width: 100%; }
  .main_tp .imagen_protesis #slider3 .txt_hidden {
    width: 100%; }
  .main_tp .imagen_protesis #slider4 #fija {
    width: 100%; }
  .main_tp .imagen_protesis #slider4 .txt_hidden {
    width: 100%; } }

.header .header_inferior .menu ul li #ct {
  color: rgba(80, 78, 78, 0.8); }

.main_contacto {
  background-image: url(../assets/images/degradado-difuminado-verde_3840x2400_xtrafondos.com.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin: 0;
  height: 100%; }
  .main_contacto .contacto_up {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .main_contacto .contacto_up form {
      display: flex;
      flex-direction: column;
      width: 650px;
      padding: 10px 20px;
      margin-top: 10px;
      box-sizing: border-box;
      border-radius: 7px; }
      .main_contacto .contacto_up form h2 {
        color: #fff;
        text-align: center;
        margin: 0;
        font-size: 15px;
        margin-bottom: 20px;
        padding-top: 50px;
        text-transform: uppercase; }
      .main_contacto .contacto_up form textarea {
        width: 100%;
        margin-bottom: 30px;
        padding: 7px;
        box-sizing: border-box;
        background-color: transparent;
        border: 2px solid rgba(63, 194, 203, 0.8); }
      .main_contacto .contacto_up form textarea::placeholder {
        color: #faf1fa; }
      .main_contacto .contacto_up form .input {
        margin-bottom: 20px;
        height: 20px;
        border-bottom: 2px solid #3fc3cb;
        border-top: rgba(0, 0, 0, 0);
        border-left: rgba(0, 0, 0, 0);
        border-right: rgba(0, 0, 0, 0);
        background-color: transparent; }
      .main_contacto .contacto_up form .input::placeholder {
        color: #faf1fa; }
      .main_contacto .contacto_up form #boton {
        color: #faf1fa;
        font-weight: 900;
        background-color: rgba(63, 194, 203, 0.8);
        border: 2px solid #3fc2cb; }
      .main_contacto .contacto_up form #boton:hover {
        cursor: pointer; }
  .main_contacto .contacto_down {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 50px; }
    .main_contacto .contacto_down div {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #faf1fa;
      font-weight: 900; }
      .main_contacto .contacto_down div p {
        padding: 20px;
        text-align: center; }
        .main_contacto .contacto_down div p strong {
          color: #3fc2cb;
          font-size: larger; }

@media screen and (max-width: 1024px) {
  .main_contacto .contacto_down div {
    width: 70%; }
    .main_contacto .contacto_down div p {
      padding: 10px 0 10px 0;
      font-size: small; }
      .main_contacto .contacto_down div p strong {
        font-size: small; } }

@media screen and (max-width: 768px) {
  .main_contacto .contacto_down {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main_contacto .contacto_down div {
      width: 70%; }
      .main_contacto .contacto_down div p {
        padding: 10px 0 10px 0;
        font-size: small; }
        .main_contacto .contacto_down div p strong {
          font-size: small; } }

.header .header_inferior .menu ul li #sn {
  color: rgba(80, 78, 78, 0.8); }

.main_nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 100px;
  background-color: aliceblue;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }
  .main_nosotros h2 {
    padding: 100px 0;
    color: #3fc2cb;
    font-size: xx-large; }
  .main_nosotros #seccion1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; }
    .main_nosotros #seccion1 img {
      border-radius: 80%;
      width: 80%; }
    .main_nosotros #seccion1 .seccion__txt {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50%; }
      .main_nosotros #seccion1 .seccion__txt h3 {
        text-transform: uppercase;
        color: #414b4a; }
      .main_nosotros #seccion1 .seccion__txt p {
        padding: 20px 100px;
        color: #414b4a;
        line-height: 2rem; }
      .main_nosotros #seccion1 .seccion__txt .boton {
        border: 2px solid #3fc2cb;
        background-color: #3fc2cb;
        padding: 10px 100px;
        cursor: pointer; }
        .main_nosotros #seccion1 .seccion__txt .boton span a {
          text-transform: uppercase;
          text-decoration: none;
          color: #faf1fa;
          font-weight: 900; }
      .main_nosotros #seccion1 .seccion__txt .boton:hover {
        background-color: rgba(80, 78, 78, 0.8);
        border: 2px solid rgba(80, 78, 78, 0.8); }
        .main_nosotros #seccion1 .seccion__txt .boton:hover span a {
          color: #3fc2cb; }
  .main_nosotros #seccion2 {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; }
    .main_nosotros #seccion2 .seccion__txt {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .main_nosotros #seccion2 .seccion__txt h3 {
        text-transform: uppercase;
        color: #414b4a; }
      .main_nosotros #seccion2 .seccion__txt p {
        padding: 20px 150px;
        color: #414b4a;
        line-height: 2rem; }
      .main_nosotros #seccion2 .seccion__txt .boton {
        border: 2px solid #3fc2cb;
        background-color: #3fc2cb;
        padding: 10px 100px;
        cursor: pointer; }
        .main_nosotros #seccion2 .seccion__txt .boton span a {
          text-transform: uppercase;
          text-decoration: none;
          color: #faf1fa;
          font-weight: 900; }
      .main_nosotros #seccion2 .seccion__txt .boton:hover {
        background-color: rgba(80, 78, 78, 0.8);
        border: 2px solid rgba(80, 78, 78, 0.8); }
        .main_nosotros #seccion2 .seccion__txt .boton:hover span a {
          color: #3fc2cb; }
    .main_nosotros #seccion2 img {
      border-radius: 50%;
      width: 100%; }
  .main_nosotros #seccion3 {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; }
    .main_nosotros #seccion3 img {
      border-radius: 80%;
      width: 80%; }
    .main_nosotros #seccion3 .seccion__txt {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .main_nosotros #seccion3 .seccion__txt h3 {
        text-transform: uppercase;
        color: #414b4a;
        font-weight: 900; }
      .main_nosotros #seccion3 .seccion__txt p {
        padding: 20px 150px;
        color: #414c4a;
        line-height: 2rem; }
      .main_nosotros #seccion3 .seccion__txt .boton {
        border: 2px solid #3fc2cb;
        background-color: #3fc2cb;
        padding: 10px 100px;
        cursor: pointer; }
        .main_nosotros #seccion3 .seccion__txt .boton span a {
          text-transform: uppercase;
          text-decoration: none;
          color: #faf1fa;
          font-weight: 900; }
      .main_nosotros #seccion3 .seccion__txt .boton:hover {
        background-color: rgba(80, 78, 78, 0.8);
        border: 2px solid rgba(80, 78, 78, 0.8); }
        .main_nosotros #seccion3 .seccion__txt .boton:hover span a {
          color: #3fc2cb; }

@media screen and (max-width: 1200px) {
  .main_nosotros {
    padding: 50px 40px; }
    .main_nosotros h2 {
      padding: 80px 0;
      font-size: x-large; }
    .main_nosotros #seccion1 .seccion__txt h3 {
      font-size: medium;
      text-align: center; }
    .main_nosotros #seccion1 .seccion__txt p {
      padding: 20px 75px;
      line-height: 1.5rem;
      text-align: justify; }
    .main_nosotros #seccion1 .seccion__txt .boton {
      padding: 10px 70px; }
    .main_nosotros #seccion2 .seccion__txt h3 {
      font-size: medium;
      text-align: center; }
    .main_nosotros #seccion2 .seccion__txt p {
      padding: 20px 75px;
      line-height: 1.5rem;
      text-align: justify; }
    .main_nosotros #seccion2 .seccion__txt .boton {
      padding: 10px 50px; }
    .main_nosotros #seccion3 .seccion__txt h3 {
      font-size: medium;
      text-align: center; }
    .main_nosotros #seccion3 .seccion__txt p {
      padding: 20px 75px;
      line-height: 1.5rem;
      text-align: justify; }
    .main_nosotros #seccion3 .seccion__txt .boton {
      padding: 10px 70px; } }

@media screen and (max-width: 1024px) {
  .main_nosotros #seccion1 .seccion__txt h3 {
    padding-top: 10px; }
  .main_nosotros #seccion1 .seccion__txt p {
    line-height: 1rem; }
  .main_nosotros #seccion1 .seccion__txt .boton {
    padding: 10px 40px; }
  .main_nosotros #seccion2 .seccion__txt h3 {
    padding-top: 10px; }
  .main_nosotros #seccion2 .seccion__txt p {
    line-height: 1rem; }
  .main_nosotros #seccion2 .seccion__txt .boton {
    padding: 10px 40px; }
  .main_nosotros #seccion3 .seccion__txt h3 {
    padding-top: 10px; }
  .main_nosotros #seccion3 .seccion__txt p {
    line-height: 1rem; }
  .main_nosotros #seccion3 .seccion__txt .boton {
    padding: 10px 40px; } }

@media screen and (max-width: 900px) {
  .main_nosotros #seccion1 {
    display: flex;
    flex-direction: column; }
    .main_nosotros #seccion1 div img {
      width: 100%; }
    .main_nosotros #seccion1 .seccion__txt {
      width: 100%; }
  .main_nosotros #seccion2 {
    display: flex;
    flex-direction: column-reverse; }
    .main_nosotros #seccion2 div img {
      width: 100%; }
    .main_nosotros #seccion2 .seccion__txt {
      width: 100%; }
  .main_nosotros #seccion3 {
    display: flex;
    flex-direction: column; }
    .main_nosotros #seccion3 div img {
      width: 100%; }
    .main_nosotros #seccion3 .seccion__txt {
      width: 100%; } }

@media screen and (max-width: 480px) {
  .main_nosotros h2 {
    text-align: center; }
  .main_nosotros #seccion1 .seccion__txt p {
    padding: 20px 20px; }
  .main_nosotros #seccion2 .seccion__txt p {
    padding: 20px 20px; }
  .main_nosotros #seccion3 .seccion__txt p {
    padding: 20px 20px; } }

.cv {
  background-color: #b1ecf7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; }
  .cv .contenedor {
    width: 100%;
    max-width: 1000px;
    min-height: 100%;
    margin: 50px;
    background: #faf1fa;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1); }
    .cv .contenedor .izquierda {
      background: #27545c;
      padding: 40px;
      height: 100%; }
      .cv .contenedor .izquierda .datos_personales {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
        .cv .contenedor .izquierda .datos_personales .imagen_cv {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          overflow: hidden; }
          .cv .contenedor .izquierda .datos_personales .imagen_cv img {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover; }
        .cv .contenedor .izquierda .datos_personales h2 {
          color: #faf1fa;
          font-size: 1,5em;
          margin-top: 20px;
          text-transform: uppercase;
          text-align: center;
          font-weight: 600;
          line-height: 1,5em; }
          .cv .contenedor .izquierda .datos_personales h2 span {
            font-size: 0.8em;
            font-weight: 300; }
      .cv .contenedor .izquierda .datos_cv {
        padding-top: 40px; }
        .cv .contenedor .izquierda .datos_cv .titulo_cv {
          text-transform: capitalize;
          color: #faf1fa;
          font-weight: 600;
          letter-spacing: 1px;
          margin-bottom: 20px; }
        .cv .contenedor .izquierda .datos_cv ul li {
          list-style: none;
          margin: 10px 0; }
          .cv .contenedor .izquierda .datos_cv ul li .icono_cv {
            display: inline-block;
            width: 30px; }
          .cv .contenedor .izquierda .datos_cv ul li .texto_cv {
            color: #faf1fa;
            font-weight: 300; }
            .cv .contenedor .izquierda .datos_cv ul li .texto_cv a {
              color: #faf1fa;
              text-decoration: none; }
            .cv .contenedor .izquierda .datos_cv ul li .texto_cv a:hover {
              cursor: pointer; }
      .cv .contenedor .izquierda .estudios {
        text-transform: uppercase;
        padding-top: 80px; }
        .cv .contenedor .izquierda .estudios .estudios_cv {
          color: #faf1fa; }
        .cv .contenedor .izquierda .estudios ul li h5 {
          color: #faf1fa;
          margin: 2px 0; }
        .cv .contenedor .izquierda .estudios ul li h4 {
          color: #71def1; }
    .cv .contenedor .derecha {
      background: #faf1fa;
      padding: 20px 40px;
      top: 0; }
      .cv .contenedor .derecha .sobre_mi {
        margin-bottom: 50px; }
        .cv .contenedor .derecha .sobre_mi .titulo2 {
          color: #27545c;
          text-transform: uppercase;
          letter-spacing: 1px;
          margin-bottom: 10px; }
        .cv .contenedor .derecha .sobre_mi p {
          line-height: 1.5rem; }
      .cv .contenedor .derecha .experiencia .titulo2 {
        color: #27545c;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 10px;
        line-height: 1.5rem; }
      .cv .contenedor .derecha .experiencia .compania h3 {
        margin: 5px 0; }
      .cv .contenedor .derecha .experiencia .texto h4 {
        margin: 5px 0; }
      .cv .contenedor .derecha .experiencia .texto p {
        line-height: 1.5rem; }
      .cv .contenedor .derecha .redes .titulo2 {
        color: #27555c;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 20px 0; }
      .cv .contenedor .derecha .redes img {
        margin: 10px; }

@media screen and (max-width: 768px) {
  .cv .contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "izquierda" "derecha"; }
    .cv .contenedor .izquierda {
      grid-area: izquierda;
      height: fit-content; }
    .cv .contenedor .derecha {
      grid-area: derecha; } }
