* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.body {
  height: 1000px; }
  .body .header {
    width: 100%;
    background-color: #4c4a4a;
    position: fixed;
    z-index: 1000; }
    .body .header .header__superior {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      padding: 10px; }
    .body .header .titulos .titulo_principal h1 {
      text-transform: capitalize;
      color: #faf0fa; }
    .body .header .titulos .subtitulo h2 {
      text-transform: capitalize;
      color: #faf0fa; }
  .body .header_inferior {
    background-color: #3fc2cb;
    width: 100%;
    margin: 0;
    padding: 5px 0; }
    .body .header_inferior .menu {
      padding: 0px 20px; }
      .body .header_inferior .menu ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 100%;
        display: flex; }
        .body .header_inferior .menu ul li {
          padding-left: 5px;
          height: 100%;
          list-style: none; }
          .body .header_inferior .menu ul li a {
            width: 100%;
            height: 100%;
            background-color: #3fc2cb;
            font-size: large;
            font-weight: 900;
            text-decoration: none;
            color: #faf0fa;
            text-transform: uppercase;
            transition: all 300ms ease; }
            .body .header_inferior .menu ul li a:hover {
              box-shadow: 0 0 10px 0 #faf0fa inset, 0 0 10px 4px #faf0fa; }

.main {
  width: 100%;
  margin-bottom: 0;
  background-image: url(../assets/images/laboratorio-dental2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
  background-size: 150vmax; }
  .main .espacio {
    height: 100vh;
    width: 100vw;
    max-width: 1600px;
    min-width: 320px; }
  .main .frase {
    height: 20vh;
    background-color: #4c4a4a;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 900;
    text-decoration: none;
    text-align: center;
    color: #3fc2cb;
    font-size: x-large; }
  .main .contenedor {
    width: 100vw;
    max-width: 1600px;
    min-width: 320px;
    margin: auto;
    display: flex;
    flex-direction: row; }
    .main .contenedor .c_img {
      margin: 0 15px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      cursor: pointer; }
      .main .contenedor .c_img img {
        width: 100%; }
    .main .contenedor .c_txt {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      text-align: center;
      position: absolute;
      transition: all .3s;
      transform: scale(1.5);
      opacity: 0; }
      .main .contenedor .c_txt:hover {
        transform: scale(1);
        opacity: 1;
        background: rgba(80, 78, 78, 0.8); }
      .main .contenedor .c_txt h3 {
        color: #faf0fa;
        font-size: large;
        text-transform: uppercase; }
      .main .contenedor .c_txt ul {
        list-style: none;
        color: #3fc2cb;
        padding: 10px;
        font-size: large;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 2rem; }
      .main .contenedor .c_txt p {
        color: #3fc2cb;
        padding: 10px;
        font-size: large;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 2rem; }

.footer {
  background-color: #4c4a4a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  width: 100%;
  color: #faf0fa;
  font-weight: 900;
  padding: 20px 20px 0 20px; }

@media (max-width: 1600px) {
  .main .espacio
.contenedor {
    height: 100%; }
  .footer {
    height: 20vh; } }

@media (max-width: 1200px) {
  .main .espacio {
    width: 100%; }
  .main .contenedor {
    height: 100%; }
  .footer {
    height: 20vh; } }

@media (max-width: 1024px) {
  .main {
    background-size: cover; }
    .main .frase {
      height: 15vh; }
    .main .contenedor {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .main .contenedor .c_img {
        margin: 0 200px; }
        .main .contenedor .c_img img {
          height: 50vh; }
  .footer {
    height: 20vh; } }

@media (max-width: 768px) {
  .header .header_inferior .menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2rem; }
  .main .contenedor {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main .contenedor .c_txt h3 {
      font-size: small; }
    .main .contenedor .c_txt ul {
      font-size: small; }
    .main .contenedor .c_txt p {
      font-size: small; }
    .main .contenedor .c_img {
      margin: 0 50px; }
  .footer {
    height: 20vh; }
    .footer .redsocial img {
      width: 2em; } }

@media (max-width: 600px) {
  .main .contenedor {
    height: 100%; }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .footer .redsocial {
      padding: 2px; }
      .footer .redsocial img {
        width: 2em;
        padding: 2px; }
    .footer .cv_icono img {
      width: 2em; } }

@media (max-width: 480px) {
  header .header__superior .logo {
    display: none; }
  header .contenedor {
    height: 100%; }
    header .contenedor .c_img {
      margin: 0 20px; }
  .footer {
    display: flex;
    flex-direction: column; }
    .footer .redsocial img {
      width: 2em;
      padding: 2px; }
    .footer .cv_icono img {
      width: 2em; } }

@media (max-width: 320px) {
  .main .contenedor {
    height: 100%; }
  .footer {
    display: flex;
    flex-direction: column; }
    .footer .redsocial img {
      width: 2em;
      padding: 2px; }
    .footer .cv_icono img {
      width: 2em; } }

.main_tp section #cromo {
  text-align: center;
  text-transform: uppercase;
  padding: 5px 0 10px 0;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.9);
  letter-spacing: .05em;
  text-shadow: 4px 4px 0px white, 7px 7px 0px rgba(0, 0, 0, 0.3); }

.main_tp section #flexible {
  text-align: center;
  text-transform: uppercase;
  padding: 5px 0 10px 0;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.9);
  letter-spacing: .05em;
  text-shadow: 4px 4px 0px white, 7px 7px 0px rgba(0, 0, 0, 0.3); }

.main_tp section #acrilico {
  text-align: center;
  text-transform: uppercase;
  padding: 5px 0 10px 0;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.9);
  letter-spacing: .05em;
  text-shadow: 4px 4px 0px white, 7px 7px 0px rgba(0, 0, 0, 0.3); }

.main_tp section #fija {
  text-align: center;
  text-transform: uppercase;
  padding: 5px 0 10px 0;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.9);
  letter-spacing: .05em;
  text-shadow: 4px 4px 0px white, 7px 7px 0px rgba(0, 0, 0, 0.3); }

.main_tp section .imagenProtesis {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  .main_tp section .imagenProtesis img {
    width: 40%;
    height: 600px; }

.main_tp .tablas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .main_tp .tablas .titulos_protesis {
    text-align: center;
    text-transform: uppercase;
    padding: 5px 0 10px 0;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.9);
    letter-spacing: .05em;
    text-shadow: 4px 4px 0px white, 7px 7px 0px rgba(0, 0, 0, 0.2); }
  .main_tp .tablas .tablas_tabla table {
    background-color: #414040;
    width: 50%;
    position: static;
    text-align: center;
    margin: 20px 400px; }
    .main_tp .tablas .tablas_tabla table th {
      background-color: #3fc2cb;
      color: white; }
    .main_tp .tablas .tablas_tabla table tr td {
      background-color: #3fc2cb;
      color: white; }

.cv {
  background-color: #b1ecf7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; }
  .cv .contenedor {
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background: #faf0fa;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1); }
    .cv .contenedor .izquierda {
      background: #27545c;
      padding: 40px; }
      .cv .contenedor .izquierda .datos_personales {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
        .cv .contenedor .izquierda .datos_personales .imagen_cv {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          overflow: hidden; }
          .cv .contenedor .izquierda .datos_personales .imagen_cv img {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover; }
        .cv .contenedor .izquierda .datos_personales h2 {
          color: #faf0fa;
          font-size: 1,5em;
          margin-top: 20px;
          text-transform: uppercase;
          text-align: center;
          font-weight: 600;
          line-height: 1,5em; }
          .cv .contenedor .izquierda .datos_personales h2 span {
            font-size: 0.8em;
            font-weight: 300; }
      .cv .contenedor .izquierda .datos_cv {
        padding-top: 40px; }
        .cv .contenedor .izquierda .datos_cv .titulo_cv {
          text-transform: capitalize;
          color: #faf0fa;
          font-weight: 600;
          letter-spacing: 1px;
          margin-bottom: 20px; }
        .cv .contenedor .izquierda .datos_cv ul li {
          list-style: none;
          margin: 10px 0;
          cursor: pointer; }
          .cv .contenedor .izquierda .datos_cv ul li .icono_cv {
            display: inline-block;
            width: 30px; }
          .cv .contenedor .izquierda .datos_cv ul li .texto_cv {
            color: #faf0fa;
            font-weight: 300; }
      .cv .contenedor .izquierda .estudios {
        text-transform: uppercase;
        padding-top: 80px; }
        .cv .contenedor .izquierda .estudios .estudios_cv {
          color: #faf0fa; }
    .cv .contenedor .derecha {
      background: #faf0fa;
      padding: 40px; }
      .cv .contenedor .derecha .sobre_mi {
        margin-bottom: 50px; }
        .cv .contenedor .derecha .sobre_mi .titulo2 {
          color: #27545c;
          text-transform: uppercase;
          letter-spacing: 1px;
          margin-bottom: 10px; }
      .cv .contenedor .derecha .intereses {
        padding-top: 50px;
        text-transform: uppercase;
        color: #27545c; }

@media (max-width: 768px) {
  .cv .contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "izquierda" "derecha"; }
    .cv .contenedor .izquierda {
      grid-area: izquierda; }
    .cv .contenedor .derecha {
      grid-area: derecha; } }
