    .header {
        .header_inferior {
            .menu {
                ul {
                    li {
                        #ct {
                            color: rgba(80, 78, 78, 0.8);
                        }
                    }
                }
            }
        }
    }
  .main_contacto {
    background-image: url(../assets/images/degradado-difuminado-verde_3840x2400_xtrafondos.com.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
    height: 100%;
    .contacto_up {
        display: flex;
        flex-direction: row;
        justify-content: center;
            form {
            display: flex;
            flex-direction: column;
            width: 650px;
            padding: 10px 20px;
            margin-top: 10px;
            box-sizing: border-box;
            border-radius: 7px;
            h2 {
                color: #fff;
                text-align: center;
                margin: 0;
                font-size: 15px;
                margin-bottom: 20px;
                padding-top: 50px;
                text-transform: uppercase;
            }
            textarea {
                width: 100%;
                margin-bottom: 30px;
                padding: 7px;
                box-sizing: border-box;
                background-color:transparent;
                border: 2px solid rgba(63, 194, 203, 0.8);
            }
            textarea::placeholder {
                color: $color-header;
            }
            .input {
                margin-bottom: 20px;
                height: 20px;
                border-bottom: 2px solid rgb(63, 195, 203);
                border-top:rgba(0, 0, 0, 0);
                border-left: rgba(0, 0, 0, 0);
                border-right: rgba(0, 0, 0, 0);
                background-color:transparent;
                
            }
            .input::placeholder {
                color: $color-header;
            }
            #boton {
                color: $color-header;
                font-weight: 900;
                background-color: rgba(63, 194, 203, 0.8);
                border: 2px solid rgb(63, 194, 203);
            } 
            #boton:hover {
                cursor: pointer;
            }
        }
    }
    .contacto_down {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 50px;
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $color-header;
            font-weight: 900;
            img {
            } 
            p {
                padding: 20px;
                text-align: center;
                strong {
                    color: $color-boton;
                    font-size: larger;
                }
            }
        }
    }
}
@media screen and (max-width: 1900px) { 

}

@media screen and (max-width: 1200px) { 
    
}
@media screen and (max-width: 1024px) {
    .main_contacto {
        .contacto_down {
            div {
                width: 70%;
                p{
                    padding: 10px 0 10px 0;
                    font-size: small;
                strong {
                    font-size: small;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .main_contacto {
        .contacto_down { 
            display: flex;
            flex-direction: column;
            align-items: center;
            div {
                width: 70%;
                p{
                    padding: 10px 0 10px 0;
                    font-size: small;
                    strong {
                        font-size: small;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 600px) {

}
@media screen and (max-width: 480px) {

}
@media screen and (max-width: 320px) {

}