* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    height:1000px;

    .header {
        width: 100%;
        background-color: $background;
        position: fixed;
        z-index:1000;
        .header__superior {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            padding: 10px;
        }

        .titulos {

            .titulo_principal {
                h1 {
                    text-transform: capitalize;
                    color: map-get($paletaColores,"blanco");
                }
            }

            .subtitulo {
                h2 {
                    text-transform: capitalize;
                    color: map-get($paletaColores,"blanco");
                }
            }
        }
    }    
        .header_inferior {
            background-color: map-get($paletaColores,"esmeralda");
            width: 100%;
            margin: 0;
            padding: 5px 0;
            #toggle {
                display: none;
                cursor: pointer;
            }
            label {
                display: none;
                cursor: pointer;
            }
            .menu {
                padding:0px 20px;
                ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    height: 100%;
                    li {
                        padding-left: 5px;
                        height: 100%;
                        list-style: none;
                        a {
                            width: 100%;
                            height: 100%;
                            background-color: map-get($paletaColores,"esmeralda");
                            font-size: large;
                            font-weight: 900;
                            text-decoration: none;
                            color: $color-header;
                            text-transform: uppercase;
                            transition: all 300ms ease;
                            &:hover {
                                box-shadow: 0 0 10px 0 map-get($paletaColores,"blanco") inset, 0 0 10px 4px map-get($paletaColores,"blanco");
                            }
                        }
                    }
                }
            }
        }
    }

    .main {
        width: 100%;
        margin-bottom: 0;
        background-image: url(../assets/images/laboratorio-dental2.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        .espacio {
            height: 100vh;
            width: 100vw;
            max-width: 1600px;
            min-width: 320px;
        }
        .frase {
            height: 20vh;
            background-color: $background;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            font-weight: 900;
            text-decoration: none;
            text-align: center;
            color: $color-boton;
            font-size: x-large;
        }
        .contenedor {
            width: 100vw;
            max-width: 1600px;
            min-width: 320px;
            margin: auto;
            display: flex;
            flex-direction: row;
            .c_img {
                margin: 0 15px;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                cursor: pointer;
                img {
                    width: 100%;
                }
            }
            .c_txt {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                text-align: center;
                position: absolute;
                transition: all .3s;
                transform: scale(1.5);
                opacity: 0;
                &:hover {
                    transform: scale(1);
                    opacity: 1;
                    background: rgba(80, 78, 78, 0.8);
                }
                h3 {
                    color: $color-header;
                    font-size: large;
                    text-transform: uppercase;
                }
                ul {
                    list-style: none;
                    color: $color-boton;
                    @include texto-hover;
                }
                p {
                    color: $color-boton;
                    @include texto-hover;
                }
            }
        }
    }
     

    .footer {
        background-color: $background;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 20vh;
        width: 100%;
        color: map-get($paletaColores,"blanco");
        font-weight: 900;
        padding: 20px 20px 0 20px;
    }

@media (max-width: 1600px) { 
    .main {
        .espacio
        .contenedor {
            height: 100%;
        }
    }        
    .footer {
        height: 20vh;
    }
}

@media (max-width: 1200px) { 
    .main {
        .espacio {
            width: 100%;
        }
        .contenedor {
           height: 100%;
        }
    }        
    .footer {
        height: 20vh;
    }
 }
@media (max-width: 1024px){
    .main {
        .frase {
            height: 15vh;
        }
        .contenedor {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .c_img {
                margin: 0 200px;
                img {
                    height: 50vh;
                }
            }
        }
    }
        .footer {
            height: 20vh;
        }  
    }
      

@media (max-width: 768px){
    .header {
        .header_inferior {
            label {
                display: initial;
                padding-left:20px;
            }
            .menu {
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                display: none;
                padding: 0;
                margin-top: 0;
                background-color: $color-boton;
                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    line-height: 2rem;
                    background-color: transparent;
                    li {
                        width: 100%;
                        margin: 0;
                    }
                }
            }
        }
        #toggle:checked ~ .menu {
            display: block;
        }
    }
    .main {
        .contenedor {
           height: 100%;
           display: flex;
           flex-direction: column;
           align-items: center;
            .c_txt {
                h3 {
                    font-size: small;
                }
                ul {
                    font-size: small;
                }
                p {
                    font-size: small;
                }
            }
            .c_img {
                margin: 0 50px;
            }
        }
    }
    .footer {
        height: 20vh;
        .redsocial {
            img {
                width: 2em;
            }
        }
    }
 }

@media (max-width: 600px){
    .main {
        .contenedor {
           height: 100%;

        }
    }
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .redsocial {
            padding: 2px;
            img {
                width: 2em;
                padding: 2px;
            }
        }
    
        .cv_icono {
            img {
                width: 2em;
            }
        }
    }
 }
@media (max-width: 480px){
    header {
        .header__superior {
            .logo {
                display: none;
            }
        }
        .contenedor {
            height: 100%;
            .c_img {
                margin: 0 20px;
            }
        }
    }

    .footer {
        display: flex;
        flex-direction: column;
    
        .redsocial {

            img {
                width: 2em;
                padding: 2px;
            }
        }
    
        .cv_icono {
            img {
                width: 2em;
            }
        }
    }
 }
@media (max-width: 320px){
    .main {
        .contenedor {
           height: 100%;

        }
    }
    .footer {
        display: flex;
        flex-direction: column;
    
        .redsocial {

            img {
                width: 2em;
                padding: 2px;
            }
        }
    
        .cv_icono {
            img {
                width: 2em;
            }
        }
    }
 }
 
