@mixin parrafo-oculto {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
    justify-content: center;
    line-height: 1rem;
    font-size: medium;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

@mixin texto-hover {
    padding: 10px;
    font-size: large;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 2rem;
}

@mixin protesis-animacion {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    border: 2px solid $color-boton;
    border-radius: 10%;
}