

    .main_tp {
        section {
            #cromo{
                @include titulo-sombreado;
                 }
            #flexible {
                @include titulo-sombreado;
            }
            #acrilico {
                @include titulo-sombreado;
            }
            #fija {
                @include titulo-sombreado;
            }
            .imagenProtesis {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                img {
                    width: 40%;
                    height: 600px;
                }
            }
        }
        .tablas {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            .titulos_protesis {
                text-align: center;
                text-transform: uppercase;
                padding: 5px 0 10px 0;
                font-size:2rem;
                color: rgba(0, 0, 0, 0.9);
                letter-spacing: .05em;
                text-shadow: 
                4px 4px 0px rgb(255,255,255), 
                7px 7px 0px rgba(0, 0, 0, 0.2);;
            }
            .tablas_tabla { 
                table {
                    background-color: rgb(65, 64, 64);
                    width: 50%;
                    position: static;
                    text-align: center;
                    margin: 20px 400px;
                    th {
                        background-color: map-get($paletaColores,"esmeralda");
                        color: rgb(255,255,255); 
                    }
                    tr {
                        
                        td {
                            background-color: map-get($paletaColores,"esmeralda");
                            color: rgb(255,255,255);
                        }
                    }
                }
            }    
        }
    }

@media (max-width: 1500px) { 

}

@media (max-width: 1200px)  { 

 }
@media (max-width: 1024px) {

} 

@media (max-width: 768px) {

 }

@media (max-width: 600px) {

 }
@media (max-width: 480px) {

 }
@media (max-width: 320px) {

 }
 
