$color-header: rgb(250,241,250);
$color-boton: rgb(63, 194, 203);
$color-boton-hover: rgb(32, 154, 163);
$transform: rgb(132, 154, 156);
$background: rgb(76, 74, 74);

$paletaColores: (
    "blanco": $color-header,
    "esmeralda": $color-boton,
);
