$color-header: rgb(250,240,250);
$color-boton: rgb(63, 194, 203);
$color-boton-hover: rgb(32, 154, 163);
$transform: rgb(132, 154, 156);
$background: rgba(0, 0, 0, 0.2);
$paletaColores: (
    "blanco": $color-header,
    "esmeralda": $color-boton,
);
